<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Vue Demo05</title>
		<link rel = "stylesheet" href = "../css/bootstrap.min.css" media="screen"/>
		<link rel = "stylesheet" href = "../css/font-awesome.min.css" media="screen"/>
		<script type = "text/javascript" src = "../js/jquery-1.11.3.min.js" charset="UTF-8"></script>
		<script type = "text/javascript" src = "../js/popper.min.js" charset="UTF-8"></script>
		<script type = "text/javascript" src = "../js/bootstrap.min.js" charset="UTF-8"></script>
		<script type = "text/javascript" src = "../js/vue.js" charset="UTF-8"></script>
	</head>
	<body>
		<div class = "container" id="todo-list-example">
			<br>
		  <form @submit.prevent="addNewTodo">
			<div class = "row">
				<div class = "col-2 text-center"><label for="new-todo">Add a todo</label></div>
				<div class = "col-4">
					<input @keyup = "addTodoItem" v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat" class = "form-control"/>
				</div>
				<div class = "col-2"><button class = "btn btn-primary">Add</button></div>
			</div>			
		  </form>
		  <ul>
			<li
			  is="todo-item"
			  v-for="(todo, index) in todos"
			  v-bind:key="todo.id"
			  v-bind:title="todo.title"
			  v-on:remove="todos.splice(index, 1)"
			></li>
		  </ul>
		</div>
		<script type = "text/javascript">
			Vue.component('todo-item', {
			  template: '\
				<li>\
				  {{ title }}\
				  <button class = "btn btn-link" @click="$emit(\'remove\')">Remove</button>\
				</li>\
			  ',
			  props: ['title']
			})

			new Vue({
			  el: '#todo-list-example',
			  data: {
				newTodoText: '',
				todos: [
				  {
					id: 1,
					title: 'Do the dishes',
				  },
				  {
					id: 2,
					title: 'Take out the trash',
				  },
				  {
					id: 3,
					title: 'Mow the lawn'
				  }
				],
				nextTodoId: 4
			  },
			  methods: {
				addNewTodo: function () {
				  this.todos.push({
					id: this.nextTodoId++,
					title: this.newTodoText
				  })
				  this.newTodoText = ''
				},
				addTodoItem:function(e){
					if(e.keyCode == 13)
						addNewTodo()
				}
			  }
			})
		</script>
	</body>
</html>